* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.paperTheatre {
  width: 85vw;
  aspect-ratio: 1920 / 1080;
  background-color: pink;
  overflow: hidden;
  position: relative;
  --deltaX: 0;
  --deltaY: 0;
  --reduce-motion: 1;
}

@media (prefers-reduced-motion: reduce) {
  .paperTheatre {
    --reduce-motion: 0.2;
  }
}

.paperLayer {
  position: absolute;
  width: 100%;
  pointer-events: none;
  left: calc(var(--initX, 0) * 1%);
  top: calc(var(--initY, var(--initX, 0)) * 1%);
  transform:
    translateX(calc(var(--deltaX) * 100% * var(--sensitivityX, var(--sensitivityY, 10)) * var(--reduce-motion) / 100))
    translateY(calc(var(--deltaY) * 100% * var(--sensitivityY, var(--sensitivityX, 10)) * var(--reduce-motion) / 100))
    rotate(calc(1turn * var(--deltaX) * var(--rotateX, 0) * var(--reduce-motion) / 360))
    rotate(calc(1turn * var(--deltaY) * var(--rotateY, 0) * var(--reduce-motion) / 360));
  transform-style: preserve-3d;
  transition: transform .6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
